h1 {
  color: maroon;
}

body {
  background-color: aqua;
}
    
p {
 color: blue;
 font-size: 60px;
 font-family: Courier New;
 font-style: italic;
 font-weight: bold;
:
 
bold
;

}

title {
  font-family: Helvetica;
}

.list-item {
  background-color: maroon;
  color: aqua;
}
