img {
  border-radius: 50px;
}

h2 {
  font-size: 15px;
}

body {
  background-color: coral;
  font-family: Trebuchet MS;
  color: FireBrick;
}

a {
  background-color: AliceBlue;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: coral;
}
