img {
  border-radius: 50px;
}

h2 {
  font-size: 15px;
}

body {
  background: linear-gradient(coral, peachpuff);
  font-family: Trebuchet MS;
  color: FireBrick;
  text-align: center;
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: coral;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a:hover {
  color: black;
  background-color: plum;
}

@keyframes bounce { 40% {} 60% {} }